<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <h2>Login</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username }}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password }}
        </p>
        <p>
            {{ form.confirm_password.label }}
            {{ form.confirm_password }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</body>
</html>
